html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    display: flex;
    flex-direction: row;
    height: 70px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    z-index: 5;
}
.banner__img img{
    height: 100%;
}

.banner__nav{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #009ee1;
    flex: 1;
}

.banner__nav ul{
    display: flex;
    list-style-type: none;
}

.banner__nav ul li a{
    text-decoration: none;
    color: black;
}

.banner__nav-search input{
    height: 35px;
    outline: none;
    border: none;
    border-radius: 17.5px;
    padding: 0 16px;
    margin-right: 12px;
}

.banner__nav-func ul{
    padding: 0;
    margin: 0;
}

.banner__nav-func ul li a{
    display: block;
    padding: 0 12px;
    height: 70px;
    line-height: 70px;
    color: #fff;
}

.banner__nav-func ul li a:hover {
    color: #ffd503;
    cursor: pointer;
}

.banner__nav-func ul li a:hover i {
    color: #ffd503 !important;
}

.btn_navmobile{
    display: none;
}
.banner__mobilenav-func{
    display: none;
}
.show{
    display: block;
}
@media screen and (max-width: 739px) {
    .banner__nav-func{
        display: none;
    }
    .banner{
        width: 100vw;
    }
    .banner__nav-search{
        display: none;
    }
    .btn_navmobile{
        display: block;
        margin-right: 20px;
        font-size: 20px;
        color: white;
    }
    .show{
        display: block !important;
    }
    .banner__mobilenav-func{
        display: none;
        margin-top: 70px;
        background-color: #009ee1;
        animation: dropdown 0.25s ease-in-out;
        transform-origin: top;
        border: 1px solid rgb(240, 240, 240);
    }
    @keyframes dropdown {
        from{
            transform: scaleY(0);
        }
        to{
            transform: scaleY(1);
        }
    }

    .banner__mobilenav-func ul{
        list-style-type: none;
        margin: 0;
        padding-left: 20px;
    }
    .banner__mobilenav-func ul li a{
        text-decoration: none;
        color: #fff;
        display: block;
        line-height: 40px;
    }
    .moblie_search{
        width: calc(100% - 48px);
        padding: 8px 12px;
        font-size: 14px;
        margin: 4px 12px;
        outline: none;
        border: none;
    }
}